body {
  background-image: url("./img/lake-in-autumn.webp");
  background-repeat: no-repeat;
  background-color: #111;
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  min-width: 536px;
  position: relative;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}

.Menu {
  display: flex;
  margin-inline: 12px;
  margin-block: 1vh;
  min-width: 512px;
  max-width: 1320px;
  width: 95%;
  min-height: 90vh;
  background-color: rgba(100, 100, 100, 0.5);
  border: 0.2vh solid rgba(255, 255, 255, 0.8);
  padding: 0.3vh;
}

.Left{
  border: 1px solid rgba(100, 100, 0, 0.5);
  border-radius: 8px;
  background-color: rgba(120, 120, 0, 0.3);
  width: 65%;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}

.Left > h1 {
  margin: auto;
  width: 98%;
  text-align: center;
  background: linear-gradient(0.25turn, rgba(187, 153, 42, 0.1),
    rgba(180, 152, 28, 0.9), rgba(187, 153, 42, 0.1));
}

.Right{
  border: 1px solid rgba(85, 0, 120, 0.5);
  border-radius: 8px;
  background-color: rgba(85, 0, 120, 0.3);
  width: 35%;
  margin: 4px;
  display: flex;
  flex-direction: column;
}


.FileUpload {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgba(65, 65, 65, 0.5);
  margin: 4px;
  padding: 4px;
}

$background-color1: #7953d3c2;
$background-color2: #8559ebc2;
$border-color1: rgba($color: #4a22a7c2, $alpha: 1.0);
$border-color2: rgba($color: #6233cec2, $alpha: 1.0);
$text-color1: rgba($color: #1d0e61, $alpha: 1.0);

::-webkit-input-placeholder {
  color: $text-color1;
}

.FileUpload {
  display: flex;
  flex-direction: column;
}

.FileForm { height: 0px; }

.FileUpload label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  cursor: pointer;
  margin: auto;
  margin-block: 4px;
  width: 80%;
  height: 24px;
  padding: 1px 6px;
  background-color: $background-color1;
  border: 2px solid $border-color2;
  border-radius: 12px 12px 4px 4px;
  color: $text-color1;
  font-family: Arial;
  font-size: 1rem;
}

.NameForm {
  margin: auto;
  margin-block: 4px;
  width: 80%;
  height: 24px;
  padding: 1px 6px;
  background-color: $background-color1;
  border: 2px solid $border-color2;
  border-radius: 8px;
  color: $text-color1;
  font-family: Arial;
  font-size: 1rem;
}

.WeightForm {
  margin: auto;
  margin-block: 4px;
  width: 80%;
  height: 24px;
  padding: 1px 6px;
  background-color: $background-color1;
  border: 2px solid $border-color2;
  border-radius: 4px 4px 12px 12px;
  color: $text-color1;
  font-family: Arial;
  font-size: 1rem;
}

.FileUpload label:hover {
  width: 90%;
  margin-block: 3px;
  padding: 0px 6px;
  height: 28px;
}

.NameForm:hover {
  width: 90%;
  margin-block: 3px;
  padding: 0px 6px;
  height: 28px;
}

.WeightForm:hover {
  width: 90%;
  margin-block: 3px;
  padding: 0px 6px;
  height: 28px;
}

.Upload {
  width: 4rem;
  height: 2rem;
  margin-left: auto;
}

.Explorer {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgba(65, 65, 65, 0.5);
  margin: 4px;
  padding: 4px;
}

.NavBar {
  display: flex;
  gap: 20px;
  background-color: rgba($background-color1, 0.5);
  border: 2px solid $border-color2;
  margin-block: 4px;
  h3 {
    color: $text-color1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0.3rem auto;
  }
  button {
    cursor: pointer;
    color: $text-color1;
    background-color: $background-color1;
    border: 0px;
    padding: 2px 0.9rem;
  }
  button:hover {
    background-color: $background-color2;
    border-block-end: 2px solid $border-color1;
    padding: 0px 1rem;
  }
  #prev { border-inline-end: 2px solid $border-color2; }
  #prev:hover { border-inline-end: 2px solid $border-color1; }
  #next { border-inline-start: 2px solid $border-color2; }
  #next:hover { border-inline-start: 2px solid $border-color1; }
  .Refresh {
    border-inline: 2px solid $border-color2;
  }
  .Refresh:hover {
    border-inline: 2px solid $border-color1;
  }
}
  
.Empty {
  text-align: center;
  font-size: 2rem;
}

.Directory {
  padding-left: 20px;
  overflow: hidden;
  margin-block: auto;
}

.FileLink {
  display: list-item;
  margin: 1rem;
}

.FileLink:link {color: #DDD;} .FileLink:visited {color: #111;}
.FileLink:hover {color: #005;} .FileLink:active {color: #191;}

.Bottom {
  background-color: #333;
  width: 100%;
  height: 7vh;
}